@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Order>
@inject IViewLocalizer Localizer
@inject IWebHostEnvironment webhost

@{
    ViewData["Title"] = Localizer["Orders"];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <environment names="Development,Staging">
        <div class="alert alert-warning">
            <h2>Attention developers and testers</h2>
            <p>
                This is a warning that only developers and testers will see.
                Current environment:
                <span class="badge bg-warning">@webhost.EnvironmentName</span>
            </p>
        </div>
    </environment>
    <environment names="Production">
        <div class="alert alert-info">
            <h2>Welcome, visitor!</h2>
            <p>
                This is information that only a visitor to the production website
                will see. Current environment:
                <span class="badge bg-info">@webhost.EnvironmentName</span>
            </p>
        </div>
    </environment>

    <div class="row">
        <div class="col">
            <h2>Live</h2>
            <p class="alert alert-info">
                UTC: @DateTime.UtcNow.ToLongDateString() at @DateTime.UtcNow.ToLongTimeString()
            </p>
        </div>

        <div class="col">
            <h2>Cached</h2>
            <p class="alert alert-secondary">
                <cache expires-after="@TimeSpan.FromSeconds(5)">
                    UTC: @DateTime.UtcNow.ToLongDateString() at @DateTime.UtcNow.ToLongTimeString()
                </cache>
            </p>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Order ID"]</th>
                <th>@Localizer["Order Date"]</th>
                <th>@Localizer["Company Name"]</th>
                <th>@Localizer["Country</"]th>
                <th>@Localizer["Item Count"]</th>
                <th>@Localizer["Order Total"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderDate?.ToString("D")</td>
                    <td>@order.Customer?.CompanyName</td>
                    <td>@order.Customer?.Country</td>
                    <td>@order.OrderDetails.Count()</td>
                    <td>@order.OrderDetails.Sum(detail => detail.Quantity * detail.
                                 UnitPrice).ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <a id="endOfTable" />

</div>
